{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "http://api.supernormal.com"
    }
  ],
  "info": {
    "title": "Supernormal OpenAPI Specification",
    "version": "1.0.0",
    "description": "Created by ThatAPICompany.com"
  },
  "paths": {
    "/api/v1/auth/google": {
      "post": {
        "summary": "/api/v1/auth/google",
        "description": "**Host**: http://api.supernormal.com",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "membership_role": {
                          "type": "string"
                        },
                        "admin": {
                          "type": "boolean"
                        },
                        "avatar_url": {
                          "type": "string"
                        },
                        "default_topic_id": {
                          "type": "string"
                        },
                        "partial": {
                          "type": "boolean"
                        },
                        "organization_id": {
                          "type": "string"
                        },
                        "anonymous": {
                          "type": "boolean"
                        },
                        "auto_share_audience": {
                          "type": "string"
                        },
                        "bot_name": {
                          "type": "null"
                        },
                        "calendar_capture_setting": {
                          "type": "string"
                        },
                        "facets": {
                          "type": "object",
                          "properties": {
                            "has_edited_notes": {
                              "type": "boolean"
                            },
                            "has_captured_meeting": {
                              "type": "boolean"
                            },
                            "has_watched_tutorial": {
                              "type": "boolean"
                            },
                            "chrome_extension_version": {
                              "type": "string"
                            },
                            "preferred_meeting_platform": {
                              "type": "string"
                            },
                            "has_completed_activation_checklist": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "has_edited_notes",
                            "has_captured_meeting",
                            "has_watched_tutorial",
                            "chrome_extension_version",
                            "preferred_meeting_platform",
                            "has_completed_activation_checklist"
                          ]
                        },
                        "features": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "intercom_id": {
                          "type": "string"
                        },
                        "needs_onboarding": {
                          "type": "boolean"
                        },
                        "posts_count": {
                          "type": "integer"
                        },
                        "preferences": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "chrome_extension_version": {
                          "type": "string"
                        },
                        "authorities_over_member_organization": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "can_create_insights": {
                          "type": "boolean"
                        },
                        "installed_clients": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "has_synced_calendar": {
                          "type": "boolean"
                        },
                        "calendar_up_to_date": {
                          "type": "boolean"
                        },
                        "language": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "userID": {
                              "type": "string"
                            },
                            "custom": {
                              "type": "object",
                              "properties": {
                                "staff": {
                                  "type": "boolean"
                                },
                                "paid_customer": {
                                  "type": "boolean"
                                },
                                "opted_in_to_google_meet_bots": {
                                  "type": "boolean"
                                },
                                "opted_out_of_google_meet_bots": {
                                  "type": "boolean"
                                },
                                "eligible_for_meet_bots": {
                                  "type": "boolean"
                                },
                                "user_onboarding_role": {
                                  "type": "null"
                                }
                              },
                              "required": [
                                "staff",
                                "paid_customer",
                                "opted_in_to_google_meet_bots",
                                "opted_out_of_google_meet_bots",
                                "eligible_for_meet_bots",
                                "user_onboarding_role"
                              ]
                            },
                            "customIDs": {
                              "type": "object",
                              "properties": {
                                "organization_id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "organization_id"
                              ]
                            },
                            "privateAttributes": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "email"
                              ]
                            }
                          },
                          "required": [
                            "userID",
                            "custom",
                            "customIDs",
                            "privateAttributes"
                          ]
                        },
                        "can_request_to_join_organization": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "default_template": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "beta": {
                              "type": "boolean"
                            },
                            "category": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "display_name": {
                              "type": "string"
                            },
                            "prompts": {
                              "type": "array"
                            }
                          },
                          "required": [
                            "id",
                            "slug",
                            "beta",
                            "category",
                            "description",
                            "display_name",
                            "prompts"
                          ]
                        },
                        "has_unread_notifications": {
                          "type": "boolean"
                        },
                        "identities": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "provider": {
                                "type": "string"
                              },
                              "provider_user_id": {
                                "type": "string"
                              },
                              "team_id": {
                                "type": "string"
                              },
                              "team_name": {
                                "type": "string"
                              },
                              "team_domain": {
                                "type": "string"
                              },
                              "team_avatar_url": {
                                "type": "null"
                              }
                            },
                            "required": [
                              "provider",
                              "provider_user_id",
                              "team_id",
                              "team_name",
                              "team_domain",
                              "team_avatar_url"
                            ]
                          }
                        },
                        "org": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "auto_joinable": {
                              "type": "boolean"
                            },
                            "billing_cycle": {
                              "type": "string"
                            },
                            "billing_cycle_limit": {
                              "type": "null"
                            },
                            "billing_plan_version": {
                              "type": "string"
                            },
                            "bot_name": {
                              "type": "null"
                            },
                            "created_at": {
                              "type": "string"
                            },
                            "credit_card_brand": {
                              "type": "string"
                            },
                            "credit_card_last4": {
                              "type": "string"
                            },
                            "defaults": {
                              "type": "object"
                            },
                            "domain": {
                              "type": "string"
                            },
                            "enforce_consent_message": {
                              "type": "boolean"
                            },
                            "link_sharing_enabled": {
                              "type": "boolean"
                            },
                            "name": {
                              "type": "string"
                            },
                            "plan_name": {
                              "type": "string"
                            },
                            "posts_count": {
                              "type": "integer"
                            },
                            "recorded_videos_in_current_cycle": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "string"
                            },
                            "subscription_will_be_canceled": {
                              "type": "boolean"
                            },
                            "locked": {
                              "type": "boolean"
                            },
                            "is_ideal_customer_profile": {
                              "type": "boolean"
                            },
                            "consent_message": {
                              "type": "string"
                            },
                            "image_url": {
                              "type": "null"
                            },
                            "features": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "can_trial": {
                              "type": "boolean"
                            },
                            "is_trialing": {
                              "type": "boolean"
                            },
                            "users_count": {
                              "type": "integer"
                            },
                            "members_requesting_to_join": {
                              "type": "array"
                            },
                            "units_used_in_current_cycle": {
                              "type": "integer"
                            },
                            "allows_recording": {
                              "type": "boolean"
                            },
                            "remaining_trial_days": {
                              "type": "null"
                            },
                            "trial_length_in_days": {
                              "type": "null"
                            },
                            "trial_end": {
                              "type": "null"
                            },
                            "current_period_end": {
                              "type": "string"
                            },
                            "locked_at": {
                              "type": "null"
                            },
                            "has_promotion_code": {
                              "type": "boolean"
                            },
                            "promotion_code_last_day": {
                              "type": "null"
                            },
                            "owner_id": {
                              "type": "string"
                            },
                            "pricing_model_migration": {
                              "type": "null"
                            },
                            "days_until_monthly_limit_resets": {
                              "type": "integer"
                            },
                            "limits": {
                              "type": "object",
                              "properties": {
                                "monthly_meetings": {
                                  "type": "object",
                                  "properties": {
                                    "is_under_limit": {
                                      "type": "boolean"
                                    },
                                    "is_near_limit": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": [
                                    "is_under_limit",
                                    "is_near_limit"
                                  ]
                                },
                                "total_meeting_minutes": {
                                  "type": "object",
                                  "properties": {
                                    "is_under_limit": {
                                      "type": "boolean"
                                    },
                                    "is_near_limit": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": [
                                    "is_under_limit",
                                    "is_near_limit"
                                  ]
                                }
                              },
                              "required": [
                                "monthly_meetings",
                                "total_meeting_minutes"
                              ]
                            },
                            "custom_vocab": {
                              "type": "array"
                            },
                            "data_retention_policy": {
                              "type": "null"
                            },
                            "event_capture_rules": {
                              "type": "array"
                            },
                            "saml_sso_connection": {
                              "type": "null"
                            }
                          },
                          "required": [
                            "id",
                            "auto_joinable",
                            "billing_cycle",
                            "billing_cycle_limit",
                            "billing_plan_version",
                            "bot_name",
                            "created_at",
                            "credit_card_brand",
                            "credit_card_last4",
                            "defaults",
                            "domain",
                            "enforce_consent_message",
                            "link_sharing_enabled",
                            "name",
                            "plan_name",
                            "posts_count",
                            "recorded_videos_in_current_cycle",
                            "status",
                            "subscription_will_be_canceled",
                            "locked",
                            "is_ideal_customer_profile",
                            "consent_message",
                            "image_url",
                            "features",
                            "can_trial",
                            "is_trialing",
                            "users_count",
                            "members_requesting_to_join",
                            "units_used_in_current_cycle",
                            "allows_recording",
                            "remaining_trial_days",
                            "trial_length_in_days",
                            "trial_end",
                            "current_period_end",
                            "locked_at",
                            "has_promotion_code",
                            "promotion_code_last_day",
                            "owner_id",
                            "pricing_model_migration",
                            "days_until_monthly_limit_resets",
                            "limits",
                            "custom_vocab",
                            "data_retention_policy",
                            "event_capture_rules",
                            "saml_sso_connection"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "first_name",
                        "last_name",
                        "email",
                        "membership_role",
                        "admin",
                        "avatar_url",
                        "default_topic_id",
                        "partial",
                        "organization_id",
                        "anonymous",
                        "auto_share_audience",
                        "bot_name",
                        "calendar_capture_setting",
                        "facets",
                        "features",
                        "intercom_id",
                        "needs_onboarding",
                        "posts_count",
                        "preferences",
                        "chrome_extension_version",
                        "authorities_over_member_organization",
                        "can_create_insights",
                        "installed_clients",
                        "has_synced_calendar",
                        "calendar_up_to_date",
                        "language",
                        "attributes",
                        "can_request_to_join_organization",
                        "created_at",
                        "default_template",
                        "has_unread_notifications",
                        "identities",
                        "org"
                      ]
                    },
                    "auth_token": {
                      "type": "string"
                    },
                    "can_create_organization": {
                      "type": "boolean"
                    },
                    "new_user": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "user",
                    "auth_token",
                    "can_create_organization",
                    "new_user"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "cf-cache-status": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "cf-ray": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "nel": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "reporting-endpoints": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-client-version": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-download-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-permitted-cross-domain-policies": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-runtime": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "null"
                  }
                },
                "required": [
                  "code",
                  "redirect_uri"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/user": {
      "get": {
        "summary": "/api/v1/user",
        "description": "**Host**: http://api.supernormal.com",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "membership_role": {
                      "type": "string"
                    },
                    "admin": {
                      "type": "boolean"
                    },
                    "avatar_url": {
                      "type": "string"
                    },
                    "default_topic_id": {
                      "type": "string"
                    },
                    "partial": {
                      "type": "boolean"
                    },
                    "organization_id": {
                      "type": "string"
                    },
                    "anonymous": {
                      "type": "boolean"
                    },
                    "auto_share_audience": {
                      "type": "string"
                    },
                    "bot_name": {
                      "type": "null"
                    },
                    "calendar_capture_setting": {
                      "type": "string"
                    },
                    "facets": {
                      "type": "object",
                      "properties": {
                        "has_edited_notes": {
                          "type": "boolean"
                        },
                        "has_captured_meeting": {
                          "type": "boolean"
                        },
                        "has_watched_tutorial": {
                          "type": "boolean"
                        },
                        "chrome_extension_version": {
                          "type": "string"
                        },
                        "preferred_meeting_platform": {
                          "type": "string"
                        },
                        "has_completed_activation_checklist": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "has_edited_notes",
                        "has_captured_meeting",
                        "has_watched_tutorial",
                        "chrome_extension_version",
                        "preferred_meeting_platform",
                        "has_completed_activation_checklist"
                      ]
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "intercom_id": {
                      "type": "string"
                    },
                    "needs_onboarding": {
                      "type": "boolean"
                    },
                    "posts_count": {
                      "type": "integer"
                    },
                    "preferences": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "chrome_extension_version": {
                      "type": "string"
                    },
                    "authorities_over_member_organization": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "can_create_insights": {
                      "type": "boolean"
                    },
                    "installed_clients": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "has_synced_calendar": {
                      "type": "boolean"
                    },
                    "calendar_up_to_date": {
                      "type": "boolean"
                    },
                    "language": {
                      "type": "string"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "userID": {
                          "type": "string"
                        },
                        "custom": {
                          "type": "object",
                          "properties": {
                            "staff": {
                              "type": "boolean"
                            },
                            "paid_customer": {
                              "type": "boolean"
                            },
                            "opted_in_to_google_meet_bots": {
                              "type": "boolean"
                            },
                            "opted_out_of_google_meet_bots": {
                              "type": "boolean"
                            },
                            "eligible_for_meet_bots": {
                              "type": "boolean"
                            },
                            "user_onboarding_role": {
                              "type": "null"
                            }
                          },
                          "required": [
                            "staff",
                            "paid_customer",
                            "opted_in_to_google_meet_bots",
                            "opted_out_of_google_meet_bots",
                            "eligible_for_meet_bots",
                            "user_onboarding_role"
                          ]
                        },
                        "customIDs": {
                          "type": "object",
                          "properties": {
                            "organization_id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "organization_id"
                          ]
                        },
                        "privateAttributes": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "email"
                          ]
                        }
                      },
                      "required": [
                        "userID",
                        "custom",
                        "customIDs",
                        "privateAttributes"
                      ]
                    },
                    "can_request_to_join_organization": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "default_template": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "beta": {
                          "type": "boolean"
                        },
                        "category": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "prompts": {
                          "type": "array"
                        }
                      },
                      "required": [
                        "id",
                        "slug",
                        "beta",
                        "category",
                        "description",
                        "display_name",
                        "prompts"
                      ]
                    },
                    "has_unread_notifications": {
                      "type": "boolean"
                    },
                    "identities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "provider": {
                            "type": "string"
                          },
                          "provider_user_id": {
                            "type": "string"
                          },
                          "team_id": {
                            "type": "string"
                          },
                          "team_name": {
                            "type": "string"
                          },
                          "team_domain": {
                            "type": "string"
                          },
                          "team_avatar_url": {
                            "type": "null"
                          }
                        },
                        "required": [
                          "provider",
                          "provider_user_id",
                          "team_id",
                          "team_name",
                          "team_domain",
                          "team_avatar_url"
                        ]
                      }
                    },
                    "org": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "auto_joinable": {
                          "type": "boolean"
                        },
                        "billing_cycle": {
                          "type": "string"
                        },
                        "billing_cycle_limit": {
                          "type": "null"
                        },
                        "billing_plan_version": {
                          "type": "string"
                        },
                        "bot_name": {
                          "type": "null"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "credit_card_brand": {
                          "type": "string"
                        },
                        "credit_card_last4": {
                          "type": "string"
                        },
                        "defaults": {
                          "type": "object"
                        },
                        "domain": {
                          "type": "string"
                        },
                        "enforce_consent_message": {
                          "type": "boolean"
                        },
                        "link_sharing_enabled": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string"
                        },
                        "plan_name": {
                          "type": "string"
                        },
                        "posts_count": {
                          "type": "integer"
                        },
                        "recorded_videos_in_current_cycle": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "subscription_will_be_canceled": {
                          "type": "boolean"
                        },
                        "locked": {
                          "type": "boolean"
                        },
                        "is_ideal_customer_profile": {
                          "type": "boolean"
                        },
                        "consent_message": {
                          "type": "string"
                        },
                        "image_url": {
                          "type": "null"
                        },
                        "features": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "can_trial": {
                          "type": "boolean"
                        },
                        "is_trialing": {
                          "type": "boolean"
                        },
                        "users_count": {
                          "type": "integer"
                        },
                        "members_requesting_to_join": {
                          "type": "array"
                        },
                        "units_used_in_current_cycle": {
                          "type": "integer"
                        },
                        "allows_recording": {
                          "type": "boolean"
                        },
                        "remaining_trial_days": {
                          "type": "null"
                        },
                        "trial_length_in_days": {
                          "type": "null"
                        },
                        "trial_end": {
                          "type": "null"
                        },
                        "current_period_end": {
                          "type": "string"
                        },
                        "locked_at": {
                          "type": "null"
                        },
                        "has_promotion_code": {
                          "type": "boolean"
                        },
                        "promotion_code_last_day": {
                          "type": "null"
                        },
                        "owner_id": {
                          "type": "string"
                        },
                        "pricing_model_migration": {
                          "type": "null"
                        },
                        "days_until_monthly_limit_resets": {
                          "type": "integer"
                        },
                        "limits": {
                          "type": "object",
                          "properties": {
                            "monthly_meetings": {
                              "type": "object",
                              "properties": {
                                "is_under_limit": {
                                  "type": "boolean"
                                },
                                "is_near_limit": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "is_under_limit",
                                "is_near_limit"
                              ]
                            },
                            "total_meeting_minutes": {
                              "type": "object",
                              "properties": {
                                "is_under_limit": {
                                  "type": "boolean"
                                },
                                "is_near_limit": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "is_under_limit",
                                "is_near_limit"
                              ]
                            }
                          },
                          "required": [
                            "monthly_meetings",
                            "total_meeting_minutes"
                          ]
                        },
                        "custom_vocab": {
                          "type": "array"
                        },
                        "data_retention_policy": {
                          "type": "null"
                        },
                        "event_capture_rules": {
                          "type": "array"
                        },
                        "saml_sso_connection": {
                          "type": "null"
                        }
                      },
                      "required": [
                        "id",
                        "auto_joinable",
                        "billing_cycle",
                        "billing_cycle_limit",
                        "billing_plan_version",
                        "bot_name",
                        "created_at",
                        "credit_card_brand",
                        "credit_card_last4",
                        "defaults",
                        "domain",
                        "enforce_consent_message",
                        "link_sharing_enabled",
                        "name",
                        "plan_name",
                        "posts_count",
                        "recorded_videos_in_current_cycle",
                        "status",
                        "subscription_will_be_canceled",
                        "locked",
                        "is_ideal_customer_profile",
                        "consent_message",
                        "image_url",
                        "features",
                        "can_trial",
                        "is_trialing",
                        "users_count",
                        "members_requesting_to_join",
                        "units_used_in_current_cycle",
                        "allows_recording",
                        "remaining_trial_days",
                        "trial_length_in_days",
                        "trial_end",
                        "current_period_end",
                        "locked_at",
                        "has_promotion_code",
                        "promotion_code_last_day",
                        "owner_id",
                        "pricing_model_migration",
                        "days_until_monthly_limit_resets",
                        "limits",
                        "custom_vocab",
                        "data_retention_policy",
                        "event_capture_rules",
                        "saml_sso_connection"
                      ]
                    },
                    "integrations": {
                      "type": "array"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "first_name",
                    "last_name",
                    "email",
                    "membership_role",
                    "admin",
                    "avatar_url",
                    "default_topic_id",
                    "partial",
                    "organization_id",
                    "anonymous",
                    "auto_share_audience",
                    "bot_name",
                    "calendar_capture_setting",
                    "facets",
                    "features",
                    "intercom_id",
                    "needs_onboarding",
                    "posts_count",
                    "preferences",
                    "chrome_extension_version",
                    "authorities_over_member_organization",
                    "can_create_insights",
                    "installed_clients",
                    "has_synced_calendar",
                    "calendar_up_to_date",
                    "language",
                    "attributes",
                    "can_request_to_join_organization",
                    "created_at",
                    "default_template",
                    "has_unread_notifications",
                    "identities",
                    "org",
                    "integrations"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "cf-cache-status": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "cf-ray": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "nel": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "reporting-endpoints": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-client-version": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-download-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-permitted-cross-domain-policies": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-runtime": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ]
      }
    },
    "/api/v1/documentation/learn": {
      "get": {
        "summary": "/api/v1/documentation/learn",
        "description": "**Host**: http://api.supernormal.com",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "changelog": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "cmsLocaleId": {
                            "type": "string"
                          },
                          "lastPublished": {
                            "type": [
                              "null",
                              "string"
                            ]
                          },
                          "lastUpdated": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isDraft": {
                            "type": "boolean"
                          },
                          "fieldData": {
                            "type": "object",
                            "properties": {
                              "body": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "image": {
                                "type": "object",
                                "properties": {
                                  "fileId": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "alt": {
                                    "type": "null"
                                  }
                                },
                                "required": [
                                  "fileId",
                                  "url",
                                  "alt"
                                ]
                              },
                              "slug": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "string"
                              },
                              "date-created": {
                                "type": "string"
                              },
                              "year": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "body",
                              "name",
                              "slug"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "cmsLocaleId",
                          "lastPublished",
                          "lastUpdated",
                          "createdOn",
                          "isArchived",
                          "isDraft",
                          "fieldData"
                        ]
                      }
                    },
                    "help_topics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "cmsLocaleId": {
                            "type": "string"
                          },
                          "lastPublished": {
                            "type": [
                              "null",
                              "string"
                            ]
                          },
                          "lastUpdated": {
                            "type": "string"
                          },
                          "createdOn": {
                            "type": "string"
                          },
                          "isArchived": {
                            "type": "boolean"
                          },
                          "isDraft": {
                            "type": "boolean"
                          },
                          "fieldData": {
                            "type": "object",
                            "properties": {
                              "link": {
                                "type": "string"
                              },
                              "ranking": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "type": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "icon": {
                                "type": "object",
                                "properties": {
                                  "fileId": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "alt": {
                                    "type": "null"
                                  }
                                },
                                "required": [
                                  "fileId",
                                  "url",
                                  "alt"
                                ]
                              }
                            },
                            "required": [
                              "link",
                              "ranking",
                              "name",
                              "slug",
                              "type",
                              "icon"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "cmsLocaleId",
                          "lastPublished",
                          "lastUpdated",
                          "createdOn",
                          "isArchived",
                          "isDraft",
                          "fieldData"
                        ]
                      }
                    }
                  },
                  "required": [
                    "changelog",
                    "help_topics"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "cf-cache-status": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "cf-ray": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "nel": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "reporting-endpoints": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-client-version": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-download-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-permitted-cross-domain-policies": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-runtime": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ]
      }
    },
    "/api/v1/posts": {
      "get": {
        "summary": "/api/v1/posts",
        "description": "**Host**: http://api.supernormal.com",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "summary": {
                        "type": [
                          "null",
                          "string"
                        ]
                      },
                      "title": {
                        "type": "string"
                      },
                      "unified": {
                        "type": "boolean"
                      },
                      "created_at": {
                        "type": "string"
                      },
                      "published_at": {
                        "type": "string"
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "null"
                          }
                        },
                        "required": [
                          "id"
                        ]
                      },
                      "seen": {
                        "type": "boolean"
                      },
                      "organization_id": {
                        "type": "string"
                      },
                      "suggestions": {
                        "type": "array"
                      }
                    },
                    "required": [
                      "id",
                      "slug",
                      "summary",
                      "title",
                      "unified",
                      "created_at",
                      "published_at",
                      "user",
                      "seen",
                      "organization_id",
                      "suggestions"
                    ]
                  }
                }
              }
            },
            "description": "",
            "headers": {
              "cf-cache-status": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "cf-ray": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "nel": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "reporting-endpoints": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-client-version": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-download-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-permitted-cross-domain-policies": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-runtime": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/user/sync_calendar": {
      "post": {
        "summary": "/api/v1/user/sync_calendar",
        "description": "**Host**: http://api.supernormal.com",
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "",
            "headers": {
              "cf-cache-status": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "cf-ray": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "nel": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "reporting-endpoints": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-client-version": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-download-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-permitted-cross-domain-policies": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-runtime": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/user/topics": {
      "get": {
        "summary": "/api/v1/user/topics",
        "description": "**Host**: http://api.supernormal.com",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "conversation": {
                        "type": "boolean"
                      },
                      "private": {
                        "type": "boolean"
                      },
                      "slack_conversation_id": {
                        "type": "null"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "category_name": {
                        "type": [
                          "null",
                          "string"
                        ]
                      },
                      "public_sharing_restricted": {
                        "type": "boolean"
                      },
                      "name": {
                        "type": "string"
                      },
                      "is_name_editable": {
                        "type": "boolean"
                      },
                      "is_editable": {
                        "type": "boolean"
                      },
                      "is_joinable": {
                        "type": "boolean"
                      },
                      "is_shareable": {
                        "type": "boolean"
                      },
                      "is_deleteable": {
                        "type": "boolean"
                      },
                      "colors": {
                        "type": "object",
                        "properties": {
                          "primary": {
                            "type": "string"
                          },
                          "secondary": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "primary",
                          "secondary"
                        ]
                      },
                      "creator": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "membership_role": {
                            "type": "string"
                          },
                          "admin": {
                            "type": "boolean"
                          },
                          "avatar_url": {
                            "type": "string"
                          },
                          "default_topic_id": {
                            "type": "string"
                          },
                          "partial": {
                            "type": "boolean"
                          },
                          "organization_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "first_name",
                          "last_name",
                          "email",
                          "membership_role",
                          "admin",
                          "avatar_url",
                          "default_topic_id",
                          "partial",
                          "organization_id"
                        ]
                      },
                      "organization": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "auto_joinable": {
                            "type": "boolean"
                          },
                          "billing_cycle": {
                            "type": "string"
                          },
                          "billing_cycle_limit": {
                            "type": "null"
                          },
                          "billing_plan_version": {
                            "type": "string"
                          },
                          "bot_name": {
                            "type": "null"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "credit_card_brand": {
                            "type": "string"
                          },
                          "credit_card_last4": {
                            "type": "string"
                          },
                          "defaults": {
                            "type": "object"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "enforce_consent_message": {
                            "type": "boolean"
                          },
                          "link_sharing_enabled": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "plan_name": {
                            "type": "string"
                          },
                          "posts_count": {
                            "type": "integer"
                          },
                          "recorded_videos_in_current_cycle": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "subscription_will_be_canceled": {
                            "type": "boolean"
                          },
                          "locked": {
                            "type": "boolean"
                          },
                          "is_ideal_customer_profile": {
                            "type": "boolean"
                          },
                          "consent_message": {
                            "type": "string"
                          },
                          "image_url": {
                            "type": "null"
                          },
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "can_trial": {
                            "type": "boolean"
                          },
                          "is_trialing": {
                            "type": "boolean"
                          },
                          "users_count": {
                            "type": "integer"
                          },
                          "members_requesting_to_join": {
                            "type": "array"
                          },
                          "units_used_in_current_cycle": {
                            "type": "integer"
                          },
                          "allows_recording": {
                            "type": "boolean"
                          },
                          "remaining_trial_days": {
                            "type": "null"
                          },
                          "trial_length_in_days": {
                            "type": "null"
                          },
                          "trial_end": {
                            "type": "null"
                          },
                          "current_period_end": {
                            "type": "string"
                          },
                          "locked_at": {
                            "type": "null"
                          },
                          "has_promotion_code": {
                            "type": "boolean"
                          },
                          "promotion_code_last_day": {
                            "type": "null"
                          },
                          "owner_id": {
                            "type": "string"
                          },
                          "pricing_model_migration": {
                            "type": "null"
                          },
                          "days_until_monthly_limit_resets": {
                            "type": "integer"
                          },
                          "limits": {
                            "type": "object",
                            "properties": {
                              "monthly_meetings": {
                                "type": "object",
                                "properties": {
                                  "is_under_limit": {
                                    "type": "boolean"
                                  },
                                  "is_near_limit": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "is_under_limit",
                                  "is_near_limit"
                                ]
                              },
                              "total_meeting_minutes": {
                                "type": "object",
                                "properties": {
                                  "is_under_limit": {
                                    "type": "boolean"
                                  },
                                  "is_near_limit": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "is_under_limit",
                                  "is_near_limit"
                                ]
                              }
                            },
                            "required": [
                              "monthly_meetings",
                              "total_meeting_minutes"
                            ]
                          },
                          "custom_vocab": {
                            "type": "array"
                          },
                          "data_retention_policy": {
                            "type": "null"
                          },
                          "event_capture_rules": {
                            "type": "array"
                          },
                          "saml_sso_connection": {
                            "type": "null"
                          }
                        },
                        "required": [
                          "id",
                          "auto_joinable",
                          "billing_cycle",
                          "billing_cycle_limit",
                          "billing_plan_version",
                          "bot_name",
                          "created_at",
                          "credit_card_brand",
                          "credit_card_last4",
                          "defaults",
                          "domain",
                          "enforce_consent_message",
                          "link_sharing_enabled",
                          "name",
                          "plan_name",
                          "posts_count",
                          "recorded_videos_in_current_cycle",
                          "status",
                          "subscription_will_be_canceled",
                          "locked",
                          "is_ideal_customer_profile",
                          "consent_message",
                          "image_url",
                          "features",
                          "can_trial",
                          "is_trialing",
                          "users_count",
                          "members_requesting_to_join",
                          "units_used_in_current_cycle",
                          "allows_recording",
                          "remaining_trial_days",
                          "trial_length_in_days",
                          "trial_end",
                          "current_period_end",
                          "locked_at",
                          "has_promotion_code",
                          "promotion_code_last_day",
                          "owner_id",
                          "pricing_model_migration",
                          "days_until_monthly_limit_resets",
                          "limits",
                          "custom_vocab",
                          "data_retention_policy",
                          "event_capture_rules",
                          "saml_sso_connection"
                        ]
                      },
                      "members": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "membership_role": {
                              "type": "string"
                            },
                            "admin": {
                              "type": "boolean"
                            },
                            "avatar_url": {
                              "type": "string"
                            },
                            "default_topic_id": {
                              "type": "string"
                            },
                            "partial": {
                              "type": "boolean"
                            },
                            "organization_id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "first_name",
                            "last_name",
                            "email",
                            "membership_role",
                            "admin",
                            "avatar_url",
                            "default_topic_id",
                            "partial",
                            "organization_id"
                          ]
                        }
                      },
                      "thread_count": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "id",
                      "conversation",
                      "private",
                      "slack_conversation_id",
                      "slug",
                      "category_name",
                      "public_sharing_restricted",
                      "name",
                      "is_name_editable",
                      "is_editable",
                      "is_joinable",
                      "is_shareable",
                      "is_deleteable",
                      "colors",
                      "creator",
                      "organization",
                      "members",
                      "thread_count"
                    ]
                  }
                }
              }
            },
            "description": "",
            "headers": {
              "cf-cache-status": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "cf-ray": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "nel": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "reporting-endpoints": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-client-version": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-download-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-permitted-cross-domain-policies": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-runtime": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ]
      }
    },
    "/api/v1/user/organization": {
      "get": {
        "summary": "/api/v1/user/organization",
        "description": "**Host**: http://api.supernormal.com",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "auto_joinable": {
                      "type": "boolean"
                    },
                    "billing_cycle": {
                      "type": "string"
                    },
                    "billing_cycle_limit": {
                      "type": "null"
                    },
                    "billing_plan_version": {
                      "type": "string"
                    },
                    "bot_name": {
                      "type": "null"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "credit_card_brand": {
                      "type": "string"
                    },
                    "credit_card_last4": {
                      "type": "string"
                    },
                    "defaults": {
                      "type": "object"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "enforce_consent_message": {
                      "type": "boolean"
                    },
                    "link_sharing_enabled": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string"
                    },
                    "plan_name": {
                      "type": "string"
                    },
                    "posts_count": {
                      "type": "integer"
                    },
                    "recorded_videos_in_current_cycle": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "subscription_will_be_canceled": {
                      "type": "boolean"
                    },
                    "locked": {
                      "type": "boolean"
                    },
                    "is_ideal_customer_profile": {
                      "type": "boolean"
                    },
                    "consent_message": {
                      "type": "string"
                    },
                    "image_url": {
                      "type": "null"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "can_trial": {
                      "type": "boolean"
                    },
                    "is_trialing": {
                      "type": "boolean"
                    },
                    "users_count": {
                      "type": "integer"
                    },
                    "members_requesting_to_join": {
                      "type": "array"
                    },
                    "units_used_in_current_cycle": {
                      "type": "integer"
                    },
                    "allows_recording": {
                      "type": "boolean"
                    },
                    "remaining_trial_days": {
                      "type": "null"
                    },
                    "trial_length_in_days": {
                      "type": "null"
                    },
                    "trial_end": {
                      "type": "null"
                    },
                    "current_period_end": {
                      "type": "string"
                    },
                    "locked_at": {
                      "type": "null"
                    },
                    "has_promotion_code": {
                      "type": "boolean"
                    },
                    "promotion_code_last_day": {
                      "type": "null"
                    },
                    "owner_id": {
                      "type": "string"
                    },
                    "pricing_model_migration": {
                      "type": "null"
                    },
                    "days_until_monthly_limit_resets": {
                      "type": "integer"
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "monthly_meetings": {
                          "type": "object",
                          "properties": {
                            "is_under_limit": {
                              "type": "boolean"
                            },
                            "is_near_limit": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "is_under_limit",
                            "is_near_limit"
                          ]
                        },
                        "total_meeting_minutes": {
                          "type": "object",
                          "properties": {
                            "is_under_limit": {
                              "type": "boolean"
                            },
                            "is_near_limit": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "is_under_limit",
                            "is_near_limit"
                          ]
                        }
                      },
                      "required": [
                        "monthly_meetings",
                        "total_meeting_minutes"
                      ]
                    },
                    "custom_vocab": {
                      "type": "array"
                    },
                    "data_retention_policy": {
                      "type": "null"
                    },
                    "event_capture_rules": {
                      "type": "array"
                    },
                    "saml_sso_connection": {
                      "type": "null"
                    },
                    "owner": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "membership_role": {
                          "type": "string"
                        },
                        "admin": {
                          "type": "boolean"
                        },
                        "avatar_url": {
                          "type": "string"
                        },
                        "default_topic_id": {
                          "type": "string"
                        },
                        "partial": {
                          "type": "boolean"
                        },
                        "organization_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "first_name",
                        "last_name",
                        "email",
                        "membership_role",
                        "admin",
                        "avatar_url",
                        "default_topic_id",
                        "partial",
                        "organization_id"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "auto_joinable",
                    "billing_cycle",
                    "billing_cycle_limit",
                    "billing_plan_version",
                    "bot_name",
                    "created_at",
                    "credit_card_brand",
                    "credit_card_last4",
                    "defaults",
                    "domain",
                    "enforce_consent_message",
                    "link_sharing_enabled",
                    "name",
                    "plan_name",
                    "posts_count",
                    "recorded_videos_in_current_cycle",
                    "status",
                    "subscription_will_be_canceled",
                    "locked",
                    "is_ideal_customer_profile",
                    "consent_message",
                    "image_url",
                    "features",
                    "can_trial",
                    "is_trialing",
                    "users_count",
                    "members_requesting_to_join",
                    "units_used_in_current_cycle",
                    "allows_recording",
                    "remaining_trial_days",
                    "trial_length_in_days",
                    "trial_end",
                    "current_period_end",
                    "locked_at",
                    "has_promotion_code",
                    "promotion_code_last_day",
                    "owner_id",
                    "pricing_model_migration",
                    "days_until_monthly_limit_resets",
                    "limits",
                    "custom_vocab",
                    "data_retention_policy",
                    "event_capture_rules",
                    "saml_sso_connection",
                    "owner"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "cf-cache-status": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "cf-ray": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "nel": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "reporting-endpoints": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-client-version": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-download-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-permitted-cross-domain-policies": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-runtime": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ]
      }
    },
    "/api/v1/user/ws_token": {
      "get": {
        "summary": "/api/v1/user/ws_token",
        "description": "**Host**: http://api.supernormal.com",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            },
            "description": "",
            "headers": {
              "cf-cache-status": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "cf-ray": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "nel": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "reporting-endpoints": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-client-version": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-content-type-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-download-options": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-permitted-cross-domain-policies": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              },
              "x-runtime": {
                "required": false,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          },
          {
            "apikey_header_authorization": []
          }
        ]
      }
    },
    "/api/v1/user/calendar_events": {
      "get": {
        "summary": "/api/v1/user/calendar_events",
        "description": "**Host**: http://api.supernormal.com",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "platform_name": {
                        "type": "string"
                      },
                      "recording_type": {
                        "type": "string"
                      },
                      "start": {
                        "type": "string"
                      },
                      "end": {
                        "type": "string"
                      },
                      "scheduled_to_record": {
                        "type": "boolean"
                      },
                      "post_id": {
                        "type": "string"
                      },
                      "is_recurring": {
                        "type": "boolean"
                      },
                      "is_blocked_from_capture": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "url",
                      "platform_name",
                      "recording_type",
                      "start",
                      "end",
                      "scheduled_to_record",
                      "post_id",
                      "is_recurring",
                      "is_blocked_from_capture"
                    ]
                  }
                }
              }
            },
            "description": "",
[...]
